/* style.css */
@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
/* Заголовок */
h1,h2,h3,h4,h5,h6 {
  text-align: center;
  color: darkorange;
  z-index: 2;

 
}
body{
  font-family: 'Oswald', sans-serif;
}

footer {

  text-align: center;
  padding: 10px;
  background-color: lavenderblush;
  color: black;
  z-index: 3;
  font-weight: 800;
}

/* Навігація */
nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 60px;
  background-color: darkorange;
  font-weight: 400;
}






nav .logo a {
  font-size: 26px;
  color: white;
  font-weight: 400;
  text-decoration: none;
  font-family: 'Pacifico', cursive;
}
nav .logo a:hover {
  color: black;
  transition: 1s;
}
nav ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
}

nav ul li a:hover {
  color: black;
  transition: 1s;
}

.play-button {
  background-color: transparent;
  border: none;
  padding: 0;
  margin-right: 10px;
  cursor: pointer;
}

.play-button img {
  width: 20px;
}

.track-info {
  display: flex;
  align-items: center;
}

.track-info img {
  width: 50px;
  margin-right: 10px;
}

.track-image {
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
}

.track-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: opacity 0.3s ease;
  cursor: pointer;
}

.track-image:hover .overlay {
  opacity: 1;
}

.play-button {
  padding: 10px 20px;
  background-color: darkorange;
  color: #fff;
  border: none;
  cursor: pointer;
}

.track-details {
  margin-top: 10px;
  text-align: center;
}

.track-details h3,
.track-details p {
  color: #fff;
}

.controls {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.prev-button,
.next-button {
  width: 40px;
  height: 40px;
  background-color: blueviolet;
}

.music-menu {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: #f1f1f1;
  display: flex;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
  visibility: hidden;
  transition: visibility 0.3s;
}

.music-menu.show {
  visibility: visible;
}

#music-image {
  width: 60px;
  height: 60px;
  margin-right: 10px;
  z-index: 5;
}

#music-info {
  flex: 1;
}

#music-title {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

#music-artist {
  font-size: 14px;
  margin: 0;
}

/* Стилізація кнопок управління */
#music-controls button {
  background-color: orangered;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  z-index: 3;
}
.button3 {
  margin: 70px;
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: black;
  background-color: bisque;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.button3:hover {
  background-color: darkorange;
}
.button3:active {
  background-color: darkorange;
}
.button3:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.3);
}
/* стилізація плейлистів */
.playlist-item {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #f1f1f1;
  border-radius: 5px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 300px;
}

.playlist-item:hover {
  background-color: #e5e5e5;
}

.playlist-item img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin-right: 10px;
}

.playlist-item .track-info {
  flex: 1;
}

.playlist-item .track-info h3 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

.playlist-item .track-info p {
  font-size: 14px;
  color: #888;
  margin-bottom: 0;
}

.playlist-item .play-button {
  background-color: darkorange;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.playlist-item .play-button:hover {
  background-color: darkorange;
}
/* Стилізація треків */
.playlist-item {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #f1f1f1;
  border-radius: 5px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.playlist-item:hover {
  background-color: #e5e5e5;
}

.playlist-item img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin-right: 10px;
}

.playlist-item .track-info {
  flex: 1;
}

.playlist-item .track-info h3 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

.playlist-item .track-info p {
  font-size: 14px;
  color: #888;
  margin-bottom: 0;
}

.playlist-item .play-button {
  background-color: darkorange;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.playlist-item .play-button:hover {
  background-color: #00f6ff;
}

#image3{
  width: 300px;
}
.playlists{
  display: inline-block;
  justify-content: space-between;
}